manifest {
    description = 'bartNP pipeline'
    nextflowVersion = '>= 20.07.0'
}

// note: there is a much better way of doing this, but this
//       is quick. For prelim testing only.
params {
//   sparse         = FALSE 
//   theta          = 0
//   omega          = 1
//   a              = 0.5
//   b              = 1
//   augment        = FALSE
//   rho            = NULL
//   xinfo          = matrix(0.0,0,0)
//   usequants      = FALSE
//   cont           = FALSE
//   rm.const       = TRUE
//   sigest         = NA
//   sigdf          = 3
//   sigquant       = .90
//   k              = 2.0
//   power          = 2.0
//   base           = .95
//   sigmaf         = NA
//   lambda         = NA
//   fmean          = mean(y.train)
//   w              = rep(1,length(y.train))
    ntree         = 400
//   numcut         = 100L
//   ndpost         = 1000L
//   nskip          = 100L
//   keepevery      = 1L
//   nkeeptrain     = ndpost
//   nkeeptest      = ndpost
//   nkeeptestmean  = ndpost
//   nkeeptreedraws = ndpost
//   printevery     = 100L
//   transposed     = FALSE
}

executor {
    submitRateLimit = "2 sec"
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "${launchDir}/singularity_images/"
  runOptions = "--bind ${launchDir}/tmp:/tmp"

}

process {
    container = "library://cmatkhan/default/bartnp:sha256.a128a4d01a91ebd2d7adb3287167f93a3cdf87cde7ab5c518e924316eef4d4c2"
    executor = "slurm"
    memory = 2.GB
    scratch = true
    scratch = "${launchDir}/tmp"
    errorStrategy = "finish"
    withLabel:bart { 
        memory = {2.GB}
        cpus   = {5}
    }
}

